<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-feature android:name="android.hardware.gamepad" android:required="false" />
  <application
      android:allowBackup="false"
      android:icon="@drawable/app_icon"
      android:label="Crash Bandicoot Launcher"
      android:supportsRtl="true"
      android:theme="@android:style/Theme.Material.NoActionBar">
    <meta-data
        android:name="com.google.test.loops"
        android:value="1" />
    <meta-data
        android:name="com.google.test.loops.gpu_compatibility"
        android:value="1" />
    <meta-data
        android:name="com.google.test.loops.performance"
        android:value="1" />
  </application>
</manifest>
